# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Editor files
*.swp
*.swo

# OS files
.DS_Store

# Data files
*.db

.github/*
.github

.vscode/
.vscode/*

debug_*
demo_*